.job-container {
    width: 39rem;
    height: 52.75rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.top-section {
    width: 39rem;
    height: 8.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    position: relative;
    background: #3282B8;
}

.logo-wrapper { 
    position: absolute;
    bottom: -2.1875rem; 
    left: 50%;
    transform: translateX(-50%);
}

.header-bg {
    width: 100%;
    border-radius: 0.625rem 0.625rem 0rem 0rem;

}

.logo {
    width: 4.375rem;
    height: 4.375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 3px solid #FFF;
    background: #3282B8;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.logo-icon { /* Actual icon inside the logo, if there's a separate icon */
    width: 2.5rem;  /* You can adjust these values */
    height: 2.5rem; /* You can adjust these values */
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.info-container {
    height: 100%;
    width: 85%;
}

h4 {
    color: #858585;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.0625rem;
    margin-bottom: 0;
}

h3 {
    color: #1B262C;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.01563rem;
    margin-bottom: 0;
}

h1 {
    color: #1B262C;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.03125rem;
    margin-top: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    color: #1B262C;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.attr-container {
    display: flex; /* Makes this a flex container */
    justify-content: space-between; /* Adds space between flex items */
    width: 100%;
    
}

.outer-div {
    display: flex; /* Makes this a flex container */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    justify-content: center;
    
}

.inner-span {
    display: flex; /* Makes this a flex container */
    align-items: center; /* Vertically aligns svg and text */
    gap: 0.2rem; /* Provides some space between svg and text */
    margin-bottom: 0.25rem;
}

hr {
    width: 100%;
    height: 0.125rem;
    background: rgba(0, 0, 0, 0.19);
}

p {
    color: #1B262C;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
}

.desc-container {
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    height: 25.125rem;
    flex-shrink: 0;
    overflow-y: scroll;
    margin: 0;
}

.hug-right {
    align-items: end;
    float: right;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }