
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="row align-items-start"> <!-- 'align-items-start' aligns the items at the top -->
                    <div class="col text-start"> <!-- 'text-start' aligns the content to the left -->
                        <h2 class="subtitle">Welcome</h2>
                    </div>
                    <div class="col text-end"> <!-- 'text-end' aligns the content to the right -->
                        <h3 class="subtext">
                            Have an Account?<br>
                            <a routerLink="/login">Log in</a>
                        </h3>
                    </div>
                </div>
                <h1 class="title">Sign up</h1>
                <form action="">
                    <div class="form-group mb-3">
                        <label for="email">Enter your email address</label>
                        <input type="text" id="email" placeholder="Enter your email address" class="form-control">
                    </div>
            
                    <div class="form-group mb-3">
                        <label for="password">Enter your password</label>
                        <input type="password" id="password" placeholder="Enter your password" class="form-control">
                    </div>
            
                    <div class="form-group mb-3">
                        <label for="retype-password">Retype password</label>
                        <input type="password" id="retype-password" placeholder="Retype password" class="form-control">
                    </div>
            
                    <button class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>            
    </div>
</div>

