.title {
    color: #1B262C;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem; 
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.col-lg {
    display: flex;
    justify-content: center;
}