h4, h5, h6 {
    margin: 0;
}

h4 {
    color: #1B262C;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.03125rem;
    margin-bottom: .45rem;
}

h5 {
    color: #0F4C75;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: .35rem;
}

h6 {
    color: #000;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
}

.job-card {
    display: flex; 
    align-items: center; 
    padding: 1.5rem; 
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    transition: transform 0.3s, background-color 0.3s;
}

.job-card:hover {
    background-color: #1B262C36;
    cursor: pointer; 
    transform: scale(1.015); 
}

.job-card.clicked {
    background-color: #1B262C36;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}