

.g1v1 {
    width: 412.436px;
    height: 293.839px;
    transform: rotate(74.686deg);
    flex-shrink: 0;
    border-radius: 412.436px;
    background: #BBE1FA;
    backdrop-filter: blur(6.5px);
}

.g1v2 {
    width: 650.981px;
    height: 480.977px;
    transform: rotate(74.686deg);
    flex-shrink: 0;
    fill: #4F5DDF;
    stroke-width: 1px;
    stroke: #2133D3;
    backdrop-filter: blur(6.5px);
}

.g1v3 {
    width: 428.042px;
    height: 295.481px;
    transform: rotate(74.686deg);
    flex-shrink: 0;
    border-radius: 428.042px;
    background: #2133D3;
    backdrop-filter: blur(6.5px);
}

.g1v4 {
    width: 595.246px;
    height: 420.239px;
    transform: rotate(74.686deg);
    flex-shrink: 0;
    border-radius: 595.246px;
    background: #09F;
    backdrop-filter: blur(6.5px);
}

.g2v1 {
    width: 276.582px;
    height: 393.758px;
    transform: rotate(68.987deg);
    flex-shrink: 0;
    border-radius: 393.758px;
    background: #2133D3;
    filter: blur(136px);
}


.g2v2 {

}

.g2v3 {
    width: 544.62px;
    height: 710.896px;
    transform: rotate(68.987deg);
    flex-shrink: 0;
    fill: #4F5DDF;
    stroke-width: 1px;
    stroke: #000;
    filter: blur(136px);
}

.g2v4 {
    width: 287.047px;
    height: 395.958px;
    transform: rotate(68.987deg);
    flex-shrink: 0;
    border-radius: 395.958px;
    background: #BBE1FA;
    filter: blur(136px);
}














