.contact-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem; /* 125% */
}

form .form-control {
    width: 47.0625rem;
    max-width: 100%; 
    height: 2.9375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid rgba(27, 38, 44, 0.37);
    background: #FFF;
}

form label {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.75rem; /* 250% */
    text-align: right; /* This aligns the text to the right within its grid column */
}

.section-space {
    margin-top: 15rem; /* Adjust as needed */
    margin-bottom: 10rem; /* Adjust as needed */
  }
  