<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="row align-items-start"> 
                    <div class="col text-start"> 
                        <h2 class="subtitle">Welcome</h2>
                    </div>
                    <div class="col text-end"> 
                        <h3 *ngIf="mode === 'signup'" class="subtext">
                            Have an Account?<br>
                            <a routerLink="/login">Log in</a>
                        </h3>
                        <h3 *ngIf="mode === 'login'" class="subtext">
                            Don't have an Account?<br>
                            <a routerLink="/signup">Sign up</a>
                        </h3>
                    </div>
                </div>
                <h1>{{ mode === 'signup'? 'Sign up' : 'Log in' }}</h1>
                <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
                <div *ngIf="isLoading" class="spinner-container">
                    <div class="spinner">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                </div>
                <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!isLoading">
                    <div class="form-group mb-3">
                        <label for="email">Enter your email address</label>
                        <input
                            type="email" 
                            required
                            email                            
                            name="email"
                            #emailField="ngModel" 
                            ngModel
                            required
                            class="form-control"
                            placeholder="Enter your email address">
                        <p *ngIf="emailField.errors?.email && emailField.touched" class="text-danger">Invalid email</p>
                    </div>        
                    <div class="form-group mb-3">
                        <label for="password">Enter your password</label>
                        <input
                            type="password" 
                            minlength="6"
                            required
                            name="password"
                            #passwordField="ngModel"
                            ngModel
                            class="form-control" 
                            placeholder="Enter your password">
                        <p *ngIf="passwordField.errors?.required && passwordField.touched && mode === 'signup'" class="text-danger">Password is required.</p>
                        <p *ngIf="passwordField.errors?.minlength && passwordField.touched && mode === 'signup'" class="text-danger">Weak password.</p>
                    </div>          
                    <button 
                        class="btn btn-primary" 
                        type="submit"
                        [disabled]="!form.valid"> {{ mode === 'signup'? 'Sign up' : 'Log in' }}
                    </button>
                </form>
            </div>
        </div>            
    </div>
</div>