<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 title pt-5">Find the internship that tailors to<br>your experience</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-5">Optimize your job search by applying to jobs that are looking for a candidate like you.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button class="btn btn-primary">Create Account</button>
      </div>
    </div>
    <div class="overflow-hidden" style="">
      <div class="container px-5 pb-5">
        <img class="ctaImage mt-5" src="assets\dashboard-ui.jpg" alt="Dashboard User Interface Image">
      </div>
    </div>
</div>


    

