.navbar {
    background-color: #FFF;
    padding: 0.35rem;
}

.transparent {
    background-color: transparent;
}

.navbox {
    width: 70%; 
    margin-left: auto;
    margin-right: auto; 
}

.ifBox { 
    margin-left: auto;
    margin-right: auto; 
}

.nav-scrolled {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.151); 
}

.navbar-picture {
    width: 15vw;
    max-width: 9rem;
    min-width: 7rem; 
    height: auto;
    flex-shrink: 0;
}

.nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.nav-link:active {
    opacity: 0.7;
}

.logIn {
    color: #1B262C;
    background-color: transparent; 
    border: none; 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.logIn:hover {
    Opacity: 0.9;
}

.logIn:active {
    opacity: 0.7;
} 

@media (max-width: 991px) {
    .navbox {
        width: 100%;       
    }
}

 





