/* CTA Container */
.cta-container {
    text-align: center; 
    padding: 110px 0; 
}

/* CTA Title */
.cta-title {
    color: #1B262C;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 40px; 
}

/* CTA Description */
.cta-description {
    color: #1B262C;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px; 
}


