<div class="container cta-container">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-5"> <!-- Added margin to the top of the title -->
            <h1 class="title">Find the internship that tailors to<br>your experience</h1>
        </div>
        <div class="col-12 text-center">
            <p class="subtitle">Optimize your job search by applying to jobs that are looking for a candidate like you</p>
            <button class="ctaButton mb-4">Create Account</button> <!-- Added margin to the bottom of the button -->
        </div>
        <div class="col-12 text-center">
            <img src="assets\dashboard-ui.jpg" alt="Dashboard User Interface Image" class="ctaImage mt-4">
        </div>
    </div>
</div>


    

