/* CTA Container */
.cta-container {
    text-align: center; 
    padding: 110px 0; 
}

/* CTA Title */
.title {
    color: #1B262C;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 40px; 
}

/* CTA Subtitle */
.subtitle {
    color: #1B262C;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px; 
}

/* CTA Button */
.ctaButton {
    padding: 12px 24px; 
    font-size: 16px; 
    background-color: #0F4C75; 
    color: #F8F8F8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ctaImage {
    width: 55.3125rem;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 7px 4px rgba(0, 0, 0, 0.25);
}


/* Mobile (default) styles are already above */

/* Tablet - for screens equal to or greater than 768px (typical for iPads) */
@media (max-width: 768px) {
    .title {
        font-size: 45px;
    }
    .subtitle {
        font-size: 14px;
    }
    .ctaImage {
        width: 1%
    }
}

/* Laptop - for screens equal to or greater than 992px */
@media (max-width: 992px) {
    .title {
        font-size: 50px;
    }
    .subtitle {
        font-size: 15px;
    }
    .ctaButton {
        font-size: 15px;
    }
    .ctaImage {
        width: 80%
    }
}

/* Desktop - for screens equal to or greater than 1200px */
@media (max-width: 1200px) {
    .title {
        font-size: 54px;
    }
    .subtitle {
        font-size: 16px;
    }
    .ctaButton {
        font-size: 16px;
    }
    .ctaImage {
        width: 100%
    }
}


