<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href=""><img class ="navbar-picture" src="assets/intern-sync-logo.png" alt="InternSync Logo"></a>

    <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="">Features</a>
          <a class="nav-item nav-link" href="">Contact</a>
          <a class="nav-item nav-link" href="">Design</a>
    </div>

    <div class="">
        <button class="logIn btn">Log In</button>
        <button class="btn btn-primary">Sign Up</button>
    </div>
  </nav>